body{
  background-color: rgb(231, 231, 170);
  overflow: hidden;
}
h1{
  text-align: center;
}
.Todo-wrapper{
background-color: azure;
padding: 2%;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 100vh;
overflow-y: auto;
box-shadow: 0px 5px 7px black;
}
.Todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.Todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.Todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.Todo-input-item input{
  padding: 8px;
  border: none;
  width: 200px;
}
.btn-area{
  margin-bottom: 15px;
}
.delete-btn{
  background-color: rgb(237, 190, 132);
}
.primaryBtn{
  background-color: rgb(255, 189, 109);
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  border-radius: 15px;

}
.primaryBtn:hover{
  background-color: rgb(202, 159, 107);
  color: rgb(244, 238, 225);
  border-radius: 15px;
}
.secundaryBtn{
  background-color: rgb(122, 122, 121);
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  border-radius: 15px;

}

.active{
  background-color: rgb(255, 189, 109);
}

.todo-list{
  display: flex;
  flex-direction: column;

}

.todo-list-item{
  background-color: rgb(244, 216, 174);
  display: flex;
justify-content: space-between;
padding: 25px;
padding-bottom: 10px;
padding-top: 10px;
margin-bottom: 10px;
border-radius: 2%;

}

.todo-list-item h3{
  font-size: 25px;
  color: azure;
  font-weight: bold;
  margin-top: 0px;
}

.todo-list-item p{
font-size: 14px;
color: antiquewhite;
margin-top: 0px;
}

.complete{
  background-color: rgb(63, 228, 63);
  border-color:black;
}
.Deleteit{
  background-color: rgb(245, 111, 111);
  border-color:black;
}
.Buttons{
  justify-content: center;
  display: flex;
}

.NavLinks{
  display: flex;
  justify-content: space-between;
  padding: 5px;  
  background-color: rgb(105, 91, 72);
}

.no-todos-message {
  color: red;
  font-style: italic;
}

nav {
  background-color: #333; /* Background color for the navbar */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the navbar */
}

h1 {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Font size for the heading */
}

.NavLinks {
  display: flex; /* Use flexbox to align links horizontally */
}

.NavLinks a {
  color: #fff; /* Text color for the links */
  text-decoration: none; /* Remove underline from links */
  margin-right: 20px; /* Add some spacing between links */
}

.NavLinks a:hover {
  text-decoration: underline; /* Underline links on hover */
}